$head-color: #5fc0cd;;
@mixin display{
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin head-button{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	background-position: center;
}
@mixin contentbox{
	display: flex;
	padding: 10%;
	background-color: #fff1d3;
	border: 0.2rem solid white;
	margin-top: 10rem;
}
body{
	background-color: #5fc0cd;
}
.header{
	background-color:$head-color;
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content:flex-start;
	height: 5rem;
	border-bottom: 0.1rem solid white;
	.button-left,{
		@include display;
		flex: 1;
		height: 100%;
		button{
		@include head-button;
		background-image: url(./images/back.png);
		zoom:0.6;
		}
	}
	.button-right{
		@include display;
		flex: 1;
		height: 100%;
		button{
		@include head-button;
		background-image: url(./images/close.png);
		zoom:0.5;
		}
	}
	.header-center{
		display: flex;
		flex: 8;
		 p{
		 	color: white;
		 	font-weight: bold;
		 	font-size: 2rem;
		 }
	}
}
.content{
	background-color: $head-color;
	padding-bottom: 10%;
	.contentbox{
		@include contentbox;
		position: relative;
			.content-topcircle{
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				background-color: white;
				border: 0.1rem solid white;
				color: $head-color;
				position: absolute;
				top: -4%;
			}
			.content-inside{
				display: flex;
				height: 20rem;
					img{
						display: flex;
						justify-content: flex-end;
						zoom:0.5;
					}				
			}
			
	}
}
	.contentrole{
		position: relative;
		@include contentbox;
		top: 0;
		display: none;
		flex-direction: column;
		padding: 10% 16%;
		.role-circle{
			width: 2rem;
				height: 2rem;
				border-radius: 50%;
				background-color: white;
				border: 0.1rem solid white;
				color: $head-color;
				position: absolute;
				top: -4%;
		}
		.role-inside{
			display: flex;
			height: 18rem;
					img{
						display: flex;
						justify-content: flex-end;
						zoom:0.5;
					}		
		}
		.contenttext{
			display: flex;
			color: #5fc0cd;
			font-weight: bold;
			font-size: 2rem;
		}

	}

.footer{
	background-color: orange;
	@include display;
	border: 0.1rem solid orange;
	margin: 2rem;
	margin-top: 5rem;
	button{
		border: none;
		width: 100%;
		height: 100%;
		background-color: transparent;
		color: white;
		font-weight: bold;
		font-size: 2rem;
	}
}
